.coursePage :global(.dp-qb-fullscreen-toggle) {
  order: 2;
}

.coursePage
  :global(.dp-qb-practice-toolbar > div:last-child > button[aria-label='Close question']) {
  order: 3;
}

@media (max-width: 1279px) {
  .coursePage :global(.dp-qb-fullscreen-toggle) {
    display: none !important;
  }
}
